<div class="text-center">
  <h1>Craigslist Clone Listing </h1>

  Thanks for using Craigslist Clone.<br>

    <h3>Title: {{model.title}}</h3><br>
    Price: ${{model.price}}<br>
    Description: {{model.description}}<br>
    Image: <br><img src={{model.image}} alt={{model.name}}>
</div>
