<div class="text-center">
  <h1>Craigslist Clone Listing </h1>
</div>

<div class="container">
  Thanks for using Craigslist Clone.<br>

  <p>Listing active since: {{format-date model.date_added}}</p>

    <h3>Title: {{model.title}}</h3><br>
    Price: ${{model.price}}<br>
    Description: {{model.description}}<br>
    Image: <br><img src={{model.image}} alt={{model.name}}><br><br>


    <button class="btn btn-danger"{{action 'delete' model}}>Delete Listing</button>
</div>
